<div class="container dark-grey-text mt-5" style="padding-top: 50px">
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Forget Password</span>
    </nav>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form [formGroup]="formData" (ngSubmit)="changePassword(formData.value)">
                <mat-form-field class="example-full-width" style="width: 100%;">
                    <input matInput placeholder="Enter User Email Address" formControlName = "email" [(ngModel)]="emailAddress">
                </mat-form-field>
                <button type="button" class="btn btn-default" style="width: 100%" (click)="resend_new_verification_code(emailAddress)">Send Code on Email</button>

                <mat-form-field class="example-full-width" style="width: 100%;">
                    <input matInput placeholder="Enter Verification Code" [readonly]="!enableTb" formControlName = "verification">
                </mat-form-field>
            
                <mat-form-field class="example-full-width" style="width: 100%;">
                    <input matInput placeholder="Enter New Password" type="password" [readonly]="!enableTb"  formControlName = "password">
                </mat-form-field>
            
                <mat-form-field class="example-full-width" style="width: 100%;">
                    <input matInput placeholder="Re Enter New Password" type="password" [readonly]="!enableTb" formControlName = "re_password">
                </mat-form-field>
            
                <button type="submit" class="btn btn-default" style="width: 100%" [disabled] = "!formData.valid">Change Password</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>