<div class="container" style="padding-top: 70px">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5" id="top_navigation">

    <!-- Navbar brand -->
    <span class="navbar-brand">Categories</span>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="nav-item active" *ngFor="let i of categories">
          <a class="nav-link" (click)="view_items_by_category(i.id)">{{i.name}}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <input class="form-control" #searchInput placeholder="Search" style="float: right; width: 100%" (input)="search(searchInput.value)"/>
          </li>
        </ul>
      
      <!-- Links -->

      <!-- <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form> -->
    </div>
    <!-- Collapsible content -->

  </nav>

  <h3 style="text-align: center">{{category_name}}</h3>
  <hr/>
  <div class="row wow fadeIn">
    
    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let i of category_data">

      <!--Card-->
      <div class="card" style="height: 400px;">

        <!--Card image-->
        <div class="view overlay">
          <img [src]=getSanitizerUrl(i.pictureUrl) class="card-img-top"
            alt="" style="height:180px; width: 250px;">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center">
          <!--Category & Title-->
          <a href="" class="grey-text">
            <h5>{{i.categoryName}}</h5>
          </a>
          <h5>
            <strong>
              <h5 class="dark-grey-text">{{i.productTitle}}
              </h5>
            </strong>
          </h5>

          <h4 class="font-weight-bold" id="sell_portion">
            <strong>{{i.sellPrice}}&#x9f3;</strong>
          </h4>

          <a class="btn btn-default" [routerLink]="['details', i.id]">View Details >></a>
        </div>
        <!--Card content-->

      </div>
      <!--Card-->

    </div>
  </div>
</div>